/.StructVar2.java._trace
/.VarExpr2.java._trace
/.VarTerm.java._trace
/.StructVar.java._trace
/.VarExpr.java._trace
/.StructVar.xtendbin
/.VarExpr.xtendbin
/.VarTerm.xtendbin
/StructVar.java
/VarExpr.java
/VarTerm.java
