<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.edu.br/unijui/gca/Jabuti"
			class = "br.edu.unijui.gca.jabuti.JabutiPackage"
			genModel = "model/custom/Jabuti.genmodel" />
	</extension>
</plugin>
